*{
	margin: 0;padding: 0;box-sizing: border-box; 
}

header{
	width: 100%;height: 100vh;
	background-image:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.1)),url('../IMAGE/pexels-moose-photos-1037999.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

nav{
	width: 100%;height: 15vh;
	background: rgba(0,0,0,0.2);
	color: white;display: flex;justify-content: space-between;
	align-items: center;text-transform: uppercase;
}

nav .logo{
	width: 25%;text-align: center;
	/*background: red;*/
}

nav .menu{
	width: 40%;
	display: flex;justify-content: space-around;
}

nav .menu a{
	width: 25%;
	text-decoration: none; color: white;
	font-weight: bold;	 
}

nav .menu a:first-child{
	color: #00b894;

}

main{
	height: 100%;
	width: 85vh;
	display: flex;
	justify-content: center;
	align-items: center;
	text-align: center;color: white;
}

section{

}

section h3{
	font-size: 35px;font-weight: 200;letter-spacing: 3px;
	text-shadow: 1px 1px 2px black;
}

section h1{
	margin: 30px; 0 20px 0;
	font-size: 55px;
	font-weight: 700;
	text-shadow: 2px 1px 5px black;
	text-transform: uppercase;
}

section p{
	font-size: 25px;
	color: #eee;
	white-space: 2px;
	margin-bottom: 25px;
	text-shadow: 1px 1px 1px black;
}

section a{
	padding: 12px 30px;
	border-radius: 4px;
	outline: none;
	text-transform: uppercase;
	font-size: 13px;
	font-weight: 500;
	text-decoration: none;
	letter-spacing: 1px;
	transition: all .5s ease;
}

section .btnone{
    /*background: #00b894;*/
    background: #fff;
    color: #000;
}
.btnone:hover{
	background: #00b894;
	color: white; 
}

section .btntwo{
	background: #00b894;
	color: white; 
}

.btntwo:hover{
	background: #fff;
    color: #000;
}

.change_content:after{
	content: '';
	animation: changetext 10s infinite linear;
	color: #00b894;
}

@keyframes  changetext{
	0%{content: "UTTAR PRADESH"}
	20%{content: "AGRA"}
	35%{content: "DELHI"}
	60%{content: "KERALA"}
	80%{content: "JAIPUR"}
	100%{content: "MUMBAI"}
}
body {
	font-family: Arial, Helvetica, sans-serif;
}

* {
	box-sizing: border-box;
}

/* Full-width input fields */
input[type=text],
input[type=password] {
	width: 100%;
	padding: 15px;
	margin: 5px 0 22px 0;
	display: inline-block;
	border: none;
	background: #f1f1f1;
}

/* Add a background color when the inputs get focus */
input[type=text]:focus,
input[type=password]:focus {
	background-color: #ddd;
	outline: none;
}

/* Set a style for all buttons */
button {
	background-color: #04AA6D;
	color: white;
	padding: 14px 20px;
	margin: 8px 0;
	border: none;
	cursor: pointer;
	width: 100%;
	opacity: 0.9;
}

button:hover {
	opacity: 1;
}

/* Extra styles for the cancel button */
.cancelbtn {
	padding: 14px 20px;
	background-color: #f44336;
}

/* Float cancel and signup buttons and add an equal width */
.cancelbtn,
.signupbtn {
	float: left;
	width: 50%;
}

/* Add padding to container elements */
.container {
	padding: 16px;
}

/* The Modal (background) */
.modal {
	display: none;
	/* Hidden by default */
	position: fixed;
	/* Stay in place */
	z-index: 1;
	/* Sit on top */
	left: 0;
	top: 0;
	width: 100%;
	/* Full width */
	height: 100%;
	/* Full height */
	overflow: auto;
	/* Enable scroll if needed */
	background-color: #474e5d;
	padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
	background-color: #fefefe;
	margin: 5% auto 15% auto;
	/* 5% from the top, 15% from the bottom and centered */
	border: 1px solid #888;
	width: 80%;
	/* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
	border: 1px solid #f1f1f1;
	margin-bottom: 25px;
}

/* The Close Button (x) */
.close {
	position: absolute;
	right: 35px;
	top: 15px;
	font-size: 40px;
	font-weight: bold;
	color: #f1f1f1;
}

.close:hover,
.close:focus {
	color: #f44336;
	cursor: pointer;
}

/* Clear floats */
.clearfix::after {
	content: "";
	clear: both;
	display: table;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {

	.cancelbtn,
	.signupbtn {
		width: 100%;
	}
}